# General / Cross-platform
.DS_Store
Thumbs.db
*.pem
*.tmp
*.swp

# Dependencies & Package Managers
node_modules/
.pnp
.pnp.js
.yarn/
packages-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
coverage/
*.lcov

# Svelte / Web Frameworks
.svelte-kit/
.next/
dist/
build/
out/

# TypeScript / JavaScript
*.tsbuildinfo

# C# / .NET
bin/
obj/
*.suo
*.userosscache
*.sln.docstates
*.vsp
*.vspscc
*.psess
*.vspx
*.pidb
*.svclog
*.dbmdl
*.csproj.user
project.lock.json

# IDEs / Editors
.vs/
.idea/
.vscode/

# Environment / Local Config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
appsettings.Development.json
local.settings.json

# Turborepo / Monorepo
.turbo/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Minified / Build Artifacts
*.min.js
*.min.css

# Postman / HTTP client files
*.http
*.rest

# .NET launch settings
**/launchSettings.json

# # NuGet / Local packages
# *.nupkg
# *.snupkg

# Orval generated API clients
packages/api-client/src/*/generated/
