@import 'tailwindcss';

@layer base {
	/* Global */

	:root {
		/* Transition */
		view-transition-name: none;

		/* Fonts */
		--font-primary: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

		/* General */
		--color-background: #ffffff;
		--color-primary: #202e3b;
		--color-secondary: #989898;
		--color-tertiary: #747474;
		--color-accent: #e5e3db;
		--color-surface: #f4f5f9;

		/* Colors */
		--color-pink: #e47083;
		--color-pink-light: #fb9dad;
		--color-pink-dark: #c8576b;
		--color-yellow: #fccd87;
		--color-yellow-light: #ffdead;
		--color-yellow-dark: #d8a669;
		--color-green: #a8bf89;
		--color-green-light: #c8dea9;
		--color-green-dark: #8aa06f;
		--color-blue: #89b8c2;
		--color-blue-light: #a9dbe5;
		--color-blue-dark: #6394a7;

		/* Buttons */
		--color-btn-primary-bg: #e47083;
		--color-btn-primary-fg: #ffffff;
		--color-btn-primary-border: #fb9dad;
		--color-btn-primary-hover-bg: #e7808f;
		--color-btn-primary-hover-border: #fba3b2;
		--color-btn-action-bg: #ffffff;
		--color-btn-action-fg: #202e3b;
		--color-btn-action-hover-bg: #fbfbfa;
		--color-btn-text-bg: '';
		--color-btn-text-fg: '';

		/* Shadow */
		--shadow-ui: 0 0 4px 1px rgba(0, 0, 0, 0.1);

		/* Spacing */
		--gap-xs: 0.5rem;
		--gap-sm: 1rem;
		--gap-md: 1.5rem;
		--gap-lg: 2rem;
		--gap-xl: 2.5rem;

		/* Padding */
		--padding-wrapper: 1.5rem;
		--padding-wrapper-sm: 1.25rem;

		/* Border Radius */
		--radius-sm: 0.3125rem; /* 5px */
		--radius-md: 0.625rem; /* 10px */
		--radius-lg: 0.9375rem; /* 15px */
		--radius-xl: 1.25rem; /* 20px */

		/* Dimension */
		--header: 6rem; /* 96px */

		/* Font Sizes */
		--text-xs: clamp(0.65rem, 2.5vw, 0.75rem); /* 10px → 12px */
		--text-sm: clamp(0.75rem, 2.5vw, 0.9rem); /* 12px → 14px */
		--text-base: clamp(0.9rem, 3vw, 1.1rem); /* 14px → 17px */
		--text-md: clamp(1rem, 3vw, 1.2rem); /* 16px → 19px */
		--text-lg: clamp(1.1rem, 4vw, 1.4rem); /* 18px → 22px */
		--text-xl: clamp(1.3rem, 4.5vw, 1.75rem); /* 21px → 28px */
	}

	Poppins
	/* Bold */
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	}

	/* SemiBold */
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
	}

	/* Medium */
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}

	/* Regular */
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}

	/* Light */
	@font-face {
		font-family: 'Poppins';
		src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html,
	body {
		width: 100vw;
		min-height: 100vh;
		overflow-x: hidden;
		font-family: var(--font-primary);
		background: var(--color-background);
		color: var(--color-primary);
		scrollbar-gutter: stable;
	}

	main {
		padding: var(--padding-wrapper);
		padding-top: calc(var(--header)-var(--padding-wrapper));
	}

	img {
		max-width: none;
	}
}

@layer utilities {
	.wrapper {
		@apply p-wrapper max-sm:p-wrapper-sm;
	}

	.sidebar {
		@apply h-[calc(100%-var(--header)-var(--padding-wrapper))] w-80 max-xl:w-19 max-sm:h-[calc(100vh-var(--header)-var(--padding-wrapper-sm))];
		top: var(--header);
	}

	.action-bar {
		@apply pb-wrapper max-sm:pr-wrapper-sm h-[calc(100%-var(--header)-var(--padding-wrapper))] w-120 max-sm:h-[calc(100vh-var(--header)-var(--padding-wrapper-sm))];
		top: var(--header);
	}

	.main-content {
		@apply p-wrapper pt-[calc(var(--header)-var(--padding-wrapper))] pr-0 max-md:pl-0 max-sm:pt-[calc(var(--header)-var(--padding-wrapper-sm))];
	}

	.main-content:has(.action-bar) {
		@apply pr-0;
	}
}

@theme {
	/* Fonts */
	--font-primary: var(--font-primary);

	/* General */
	--color-background: var(--color-background);
	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-tertiary: var(--color-secondary);
	--color-accent: var(--color-accent);
	--color-surface: var(--color-surface);

	/* Colors */
	--color-pink: var(--color-pink);
	--color-pink-light: var(--color-pink-light);
	--color-pink-dark: var(--color-pink-dark);
	--color-yellow: var(--color-yellow);
	--color-yellow-light: var(--color-yellow-light);
	--color-yellow-dark: var(--color-yellow-dark);
	--color-green: var(--color-green);
	--color-green-light: var(--color-green-light);
	--color-green-dark: var(--color-green-dark);
	--color-blue: var(--color-blue);
	--color-blue-light: var(--color-blue-light);
	--color-blue-dark: var(--color-blue-dark);

	/* Buttons */
	--color-btn-primary-bg: var(--color-btn-primary-bg);
	--color-btn-primary-fg: var(--color-btn-primary-fg);
	--color-btn-primary-border: var(--color-btn-primary-border);
	--color-btn-primary-hover-bg: var(--color-btn-primary-hover-bg);
	--color-btn-primary-hover-border: var(--color-btn-primary-hover-border);
	--color-btn-action-bg: var(--color-btn-secondary-bg);
	--color-btn-action-fg: var(--color-btn-secondary-fg);
	--color-btn-action-hover-bg: var(--color-btn-action-hover-bg);
	--color-btn-text-bg: var(--color-btn-tertiary-bg);
	--color-btn-text-fg: var(--color-btn-tertiary-fg);

	/* Shadow */
	--shadow-ui: var(--shadow-ui);

	/* Spacing */
	--gap-xs: var(--gap-xs);
	--gap-sm: var(--gap-sm);
	--gap-md: var(--gap-md);
	--gap-lg: var(--gap-lg);
	--gap-xl: var(--gap-xl);

	/* Padding */
	--padding-wrapper: var(--padding-wrapper);
	--padding-wrapper-sm: var(--padding-wrapper-sm);

	/* Border Radius */
	--radius-sm: var(--radius-sm);
	--radius-md: var(--radius-md);
	--radius-lg: var(--radius-lg);
	--radius-xl: var(--radius-xl);

	/* Screens */
	--breakpoint-xs: 360px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;

	/* Font Sizes */
	--text-xs: var(--text-xs);
	--text-sm: var(--text-sm);
	--text-base: var(--text-base);
	--text-md: var(--text-md);
	--text-lg: var(--text-lg);
	--text-xl: var(--text-xl);
}
